*,
html {
    margin: 10;
    padding: 0;
}

body 
{
   background-color: rgb(237, 237, 232);
   align-items: center;
   justify-content: center;
   height: 20vh;
   padding: 10px;
   font-family:  Tahoma, Verdana;
}

#logo {
    height: min-content;
    margin-top: 0;
}

#navigation {
    display: flex;
}

#navigation>a {
    text-decoration: none;
    padding: 8px;
}

#navigation:hover {
    color: red;
}

/* input section */

.input-section {
    display: flex;
    flex-direction: column;
}

.input-field {
    outline: none;
    border-radius: 8px;
    border: solid black;
    padding: 8px 8px;
}

.input-field:focus {
    border: solid blue;
}

.my-button {
    background-color: grey;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.my-button:hover {
    background-color: rgb(55, 52, 52);
}

.my-button:active {
    background-color: rgb(21, 20, 20);
    transform: translateY(2px);
}

